
{% extends 'master/base.html' %}
{% block 'title' %}Desktop  {% endblock %}


{% block 'content' %}
    <div class="container">
        <div class="col-md-6">
            <h4 style="color:purple">Stock management applies to every item a business uses to produce its products or services – from raw materials to finished goods. In other words, stock management covers every aspect of a business’s inventory.

Stock management may also be called stock control, inventory management, or inventory control.</h4>
        </div>
        <div class="col-md-6">
            <pre>Why is stock management important?
Inventory is a major asset that represents tied-up capital; managing stock effectively therefore enables a business to free up capital.

Efficient stock control requires understanding the mix of different kinds of stock and acknowledging the demands on that stock. This help keep stock at a reasonable level, balancing the need for surplus supplies with the need to reduce tied-up capital.

Different types of stock
There are four main categories of stock or inventory:

Raw materials and components: stock that is ready to be used in the production of goods.
Work in progress: unfinished goods that are still in production.
Finished goods: items that are ready for sale.
Consumables: stock that will be used in the daily running of the business and will need updating, for example, fuel and stationery.
You may choose to divide your stock into further categories. For example, if you categorise stock according to value, you could have categories for low, medium, and high value stock. This could help you plan for and fund the replacement of stock if cashflow is limite</pre>
        </div>
    </div>


{% endblock %}
